{% extends "dashboardbase.html" %}
{% load static %}

{% block title %} Order Page {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Your Order</h1>
    <ul id="orderList" class="list-group mb-3">
        <!-- Sipariş ürünleri burada görünecek -->
    </ul>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button class="btn btn-primary" id="confirmOrderButton">Confirm Order</button>
    <a href="/user_dashboard" class="btn btn-secondary ms-2">Back to Dashboard</a> <!-- Yeni buton eklenmiş -->
</div>

<div id="orderSuccessMessage" class="alert alert-success d-none" role="alert">
    Your order has been placed successfully! 
    <span>You will be directed to the Order page within 5 seconds.</span>
</div>

{% endblock %}
