<!DOCTYPE html>
{% load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {%endblock%}  | WaterApp
    </title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    
    {% block content%}{% endblock %}
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="script.js"></script>
    {% block js_files %}{% endblock %}
</body>
</html>
