{% extends "loginbase.html" %}
{% load static %}
{% load custom_filters %}

{%block title%} Login {% endblock %}

{% block content %}

<body style="background: url('{% static 'img/layered-waves-haikei.svg' %}') no-repeat center center; background-size: cover;" class="vh-100 d-flex justify-content-center align-items-center position-relative">

    <!-- Back Button Positioned at the Top Right -->
    <button type="button" class="btn btn-outline-primary position-absolute top-0 end-0 m-3" onclick="window.location.href = '/';">
        <i class="bi bi-arrow-left"></i> Back
    </button>
    
    <form method="POST" class="login-form bg-light p-4 rounded shadow">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            {{ form.password|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign In</button>
    </form>
</body>

{% endblock %}