{% extends "loginbase.html" %}
{% load static %}

{% block title %} Register {% endblock %}

{% block content %}
<div style="background: url('{% static 'img/layered-waves-haikei.svg' %}') no-repeat center center; background-size: cover;">
    <header class="backbutton">
        <button type="button" class="btn btn-outline-primary" onclick="window.history.back();">
            <i class="bi bi-arrow-left"></i> Back
        </button>
    </header>

    <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Next">
    </form>
</div>
{% endblock %}
