    {% extends "base.html" %}
    {% load static %}

    {%block title%} Homepage {% endblock %}

    {% block content %}
    
    <div>
        {% include "partials/_homepage.html" %}
    </div>
    
    
    <section id="products">
    <div>
        {% include "partials/_products.html" %}
    </div>
    </section>  

    <section id="about">
        <div>
            {% include "partials/_aboutus.html" %}
        </div>
    </section>

    <section id="help">
        <div>
            {% include "partials/_help.html" %}
        </div>
    </section>
    {% endblock %}
