<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Total Price</th>
            <th>Created At</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.created_at }}</td>
            <td>
                <ul>
                    {% for item in order.items.all %}
                    <li>{{ item.product_name }} - {{ item.quantity }} pcs</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>