{% load static %}
<h1  class="display-1 text-center mt-5 p-5">About Us</h1>

<div class="containerabout ">
    <div class="row p-5">
        <div class="col-md-4">
            <div class="card bg-dark text-white mx-auto my-3  " style="max-width: 550px;">
                <img src="{% static 'img/water11.jpeg' %}" class="card-img " alt="...">
                    <div class="card-img-overlay " style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <h5 class="card-title text-center fw-bold  p-1">Lorem, ipsum</h5>
                        <p class="card-text text-center fw-bold  p-1 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consectetur.</p>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white mx-auto my-3" style="max-width: 550px;">
                <img src="{% static 'img/water12.jpeg' %}" class="card-img" alt="...">
                    <div class="card-img-overlay" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <h5 class="card-title text-center fw-bold  p-1 ">Lorem, ipsum</h5>
                        <p class="card-text text-center fw-bold p-1 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit tempore qui eos molestias praesentium iste nobis pariatur fugiat numquam maiores.</p>
                    </div>
                </div>
            </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white mx-auto my-3" style="max-width: 550px;">
            <img src="{% static 'img/water15.jpeg' %}" class="card-img" alt="...">
                <div class="card-img-overlay" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                    <h5 class="card-title text-center fw-bold  p-1 ">Lorem, ipsum</h5>
                    <p class="card-text text-center fw-bold p-1 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod doloribus obcaecati quae atque temporibus corporis ipsum consectetur veniam quisquam autem doloremque, consequatur dignissimos nihil, facere deserunt itaque laborum alias dolores!</p>
                </div>
            </div>
        </div>
    </div>
</div>