{% load static %}

<h1  class="display-1 text-center mt-5 mb-5">Help</h1>
<div class="helpcontainer">

    <div class="texthelp text-center mt-5 mb-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nemo itaque voluptatem sint ipsum et eius nam molestiae, nisi voluptatibus?
    </div>
    
    <footer class="footer bg-dark">
        <div class="container text-center text-white p-2">
          <div class="row mt-5">
            <div class="col-md-4 footer-column">
              <h5>Lorem, ipsum</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dignissimos facilis rem, exercitationem provident mollitia dicta facere ducimus nesciunt suscipit.</p>
            </div>
            <div class="col-md-4 footer-column">
              <h5>Lorem, ipsum</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex et eum, autem animi, vero suscipit quaerat neque nam perspiciatis accusantium, aut assumenda saepe dolorem ipsam incidunt corrupti facilis ab.</p>
            </div>
            <div class="col-md-4 footer-column">
              <h5>Lorem, ipsum</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, veritatis! Quas ipsum maxime aut consequuntur officia deserunt, veniam amet aliquid voluptas reiciendis vitae minima. Eligendi sed placeat aliquid fuga sit maiores quaerat facere qui nihil odit, sapiente optio amet aspernatur.</p>
            </div>
          </div>
        </div>
      </footer>
    
</div>