{% load static %}
<div class="product-list">
        <ul>
            <li>
                <img src="{% static 'img/mineralwater.jpg' %}" alt="Jug 1">
                <span class="product-name">Lorem, ipsum.</span>
                <span class="price">$10</span>
            </li>
            <li>
                <img src="{% static 'img/mineralwater.jpg' %}" alt="Jug 2">
                <span class="product-name">Lorem, ipsum.</span>
                <span class="price">$12</span>
            </li>
            <li>
                <img src="{% static 'img/mineralwater.jpg' %}" alt="Jug 3">
                <span class="product-name">Lorem, ipsum dolor.</span>
                <span class="price">$15</span>
            </li>
            <li>
                <img src="{% static 'img/mineralwater.jpg' %}" alt="Jug 4">
                <span class="product-name">Lorem, ipsum dolor.</span>
                <span class="price">$18</span>
            </li>
        </ul>
    </div>