{% load static %}
<div class="product-list">
        <ul>
            <li>
                <img src="{% static 'img/waterbottle.jpg' %}" alt="Jug 1">
                <span class="product-name">6x0.5mL PET Bottle</span>
                <span class="price">$10</span>
            </li>
            <li>
                <img src="{% static 'img/waterbottle.jpg' %}" alt="Jug 2">
                <span class="product-name">24x0.5mL PET Bottle</span>
                <span class="price">$12</span>
            </li>
            <li>
                <img src="{% static 'img/waterbottle.jpg' %}" alt="Jug 3">
                <span class="product-name">2x5L PET Bottle</span>
                <span class="price">$15</span>
            </li>
            <li>
                <img src="{% static 'img/waterbottle.jpg' %}" alt="Jug 4">
                <span class="product-name">6x5mL PET Bottle</span>
                <span class="price">$18</span>
            </li>
        </ul>
    </div>